<div class="recipe-details flex flex-col w-full min-h-screen items-center gap-10 p-[5%]">
  <h1 class="text-3xl font-semibold sm:text-6xl">
    <%= @recipe.name %> Recipe
  </h1>
  <div class="recipe-details flex w-[90%] justify-between px-4 py-2 sm:text-xl">
    <div class="cooking-details space-y-4">
      <p class="flex flex-col space-x-2 sm:flex-row sm:items-baseline">
        <span class="font-semibold border">Preparation time:</span>
        <span class="ml-2 sm:ml-0 border">
          <%= @recipe.preparation_time %> minutes
        </span>
      </p>
      <p class="flex flex-col space-x-2 sm:flex-row">
        <span class="font-semibold">Cooking time:</span>
        <span class="ml-2">
          <%= @recipe.cooking_time %> minutes
        </span>
      </p>
      <p>
        Steps go here...
      </p>
    </div>
    <div class="status">
      <p>
        <span class="font-semibold">Status:</span>
        <%= "Public" if @recipe.public? %>
        <%= "Private" unless @recipe.public? %>
      </p>
    </div>
  </div>
  <div class="buttons w-[100%] flex flex-wrap space-y-2 justify-between items-baseline px-4 py-2 sm:text-xl sm:w-[90%]">
    <%= link_to "Generate Shopping List", root_path, class: "px-2 py-1 bg-sky-300 hover:bg-cyan-700 hover:text-white rounded sm:py-3 sm:px-6" %>
    <%= link_to "Add Ingredient", new_recipes_food_path(@recipe), class: "px-2 py-1 bg-sky-300 hover:bg-cyan-700 hover:text-white rounded sm:py-3 sm:px-6" %>
  </div>
  <hr class="border border-black w-[80%]">
  <% if @recipe.recipes_foods.length > 0 %>
    <table class="table-auto border-spacing-2 sm:text-xl">
      <thead class="border border-black">
        <tr class="border border-black">
          <th class="border border-black px-4 font-semibold sm:p-4">Food</th>
          <th class="border border-black px-4 font-semibold sm:p-4">Quantity</th>
          <th class="border border-black px-4 font-semibold sm:p-4">Value</th>
          <th class="border border-black px-4 font-semibold sm:p-4">Actions</th>
        </tr>
      </thead class = "border border-black">
      <tbody class = "border border-black">
        <% @recipe.foods.each do |food| %>
          <tr class = "border border-black">
            <td class = "border border-black px-4"><%= food.name %></td>
            <td class = "border border-black px-4"><%= food.recipes_foods.first.quantity %></td>
            <td class = "border border-black px-4">$<%= food.price * food.recipes_foods.first.quantity %></td>
            <td class = "border border-black px-4">
              <%= button_to 'Remove', recipes_food_path(food.recipes_foods.first), method: :delete, class: "px-2 py-1 m-0.5 bg-sky-300 hover:bg-cyan-700 hover:text-white rounded sm:py-3 sm:px-6 sm:m-2" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-xl sm:text-3xl">No ingredients added yet</p>
  <% end %>
</div>