<div class="new-ingredient flex flex-col items-center mx-auto mt-8">
  <h1 class = "text-3xl font-bold mb-4">Recipe App</h1>
  <h2 class = "text-2xl mb-4">Add a New Ingredient</h2>
  <%= form_with model: @food, url: foods_path, method: :post do |form| %>
    <div class = "mb-4">
      <%= form.text_field :name, placeholder: 'Ingredient Name', class: "rounded" %>
    </div>
    <div class = "mb-4">
      <%= form.text_field :measurement_unit, placeholder: 'Measurement Unit', class: "rounded" %>
    </div>
    <div class = "mb-4">
      <%= form.text_field :price, placeholder: 'Price', class: "rounded" %>
    </div>
    <div class = "mb-4">
      <%= form.text_field :quantity, placeholder: 'Quantity', class: "rounded" %>
    </div>
    <div class = "mt-6">
      <%= form.submit :'Create Ingredient', class: 'cursor-pointer font-semibold rounded px-4 py-2 bg-cyan-300 hover:bg-cyan-700 hover:text-white' %>
    </div>
    <div class = "mt-4">
      <%= link_to "Cancel", :back, class: 'cursor-pointer font-semibold rounded px-4 py-2 bg-cyan-300 hover:bg-cyan-700 hover:text-white' %>  
    </div>
  <% end %>
</div>
