<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <p class="notice text-center bg-green-400 w-full p-4 text-green-900 font-semibold"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert text-center bg-red-400 w-full p-4 text-red-900 font-semibold"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
